.text-type {
  display: inline-block;
  white-space: pre-wrap;
  font-size: clamp(2rem, 4vw, 4rem);;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
